*.wav
!*.BB.wav
*.odt
.~lock.*.odt#
*.bmp
*~

build/
dist/
obrazky/large/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

Python/tmp*
*.swp

# C extensions
*.so

# LaTeX temporary files, logs, etc.
*.aux
*.lof
*.log
*.lol
*.lot
*.out
*.toa
*.toc
