*.wav
!*.BB.wav
*.odt
.~lock.*.odt#
*.bmp
*~

build/
dist/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*.swp

# C extensions
*.so

# LaTeX temporary files, logs, etc.
*.aux
*.lof
*.log
*.lol
*.lot
*.out
*.toa
*.toc
